<!DOCTYPE html>
    <html>
        <head>
            <title>{{ page.title }}</title>
            <!-- link to main stylesheet -->
            <link rel="stylesheet" type="text/css" href="/css/main.css">
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
        </head>
        <body>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/resume/Charles_Hong_Resume.pdf">CV</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/other">Other</a></li>
                    <!-- <li><a href="/projects">Projects</a></li> -->
                    <!-- <li><a href="/61a">CS 61A</a></li>
                    <li><a href="/61c">CS 61C</a></li> -->
                </ul>
            </nav>
            <div class="container">
            
            {{ content }}
            
            </div><!-- /.container -->
            <footer>
                <ul>
                    <li><a href="mailto:charleshong@berkeley.edu">email</a></li>
                    <li><a href="https://www.linkedin.com/in/charleshong3">linkedin</a></li>
                    <li><a href="https://github.com/charleshong3">github</a></li>
                    <li><a href="https://scholar.google.com/citations?user=n-qES6QAAAAJ&hl=en">scholar</a></li>
                </ul>
            </footer>
        </body>
    </html>
