<!DOCTYPE html>
    <html>
        <head>
            <title>{{ page.title }}</title>
            <!-- link to main stylesheet -->
            <link rel="stylesheet" type="text/css" href="/css/main.css">
        </head>
        <body>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/projects">Projects</a></li>
                    <li><a href="/_data/Charles_Hong_Resume.pdf">Resume</a></li>
                    <li><a href="/61a">CS 61A</a></li>
                    <li><a href="/61c">CS 61C</a></li>
                </ul>
            </nav>
            <div class="container">
            
            {{ content }}
            
            </div><!-- /.container -->
            <footer>
                <ul>
                    <li><a href="mailto:charleshong@berkeley.edu">email</a></li>
                    <li><a href="https://www.linkedin.com/in/charleshong3">linkedin</a></li>
                    <li><a href="https://github.com/charleshong3">github</a></li>
                </ul>
            </footer>
        </body>
    </html>
